<div class='new-recipe'>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <p>
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :cook_time %>:
    <%= f.text_field :cook_time %>
  </p>
  <p>
    <%= f.label :ingredients %>:
    <%= f.text_area :ingredients, size: "30x10" %>
  </p>
  <p>
    <%= f.label :instructions %>:
    <%= f.text_area :instructions, size: "30x10" %>
  </p>
  <p>
    <%= f.label :original_recipe %>:
    <%= f.text_field :original_recipe %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
