<h2>
  <%= @post.title %>
</h2>

<p class="date">
  Created <%= time_ago_in_words(@post.created_at) %> ago.
  <% if admin? %>|
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you would like to delete this post?'} %>
    <% end %>
</p>

<div class="body">
  <h4>Cook time: <%= @post.cook_time %></h4>
  <h3>Ingredients</h3>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
    </ul>
  <h3>Instructions</h3>
     <ul>
    <% @instructions.each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
    </ul>
    <p><%= link_to 'Original Recipe', @post.original_recipe %></p>
</div>
<div>
  <h3>Comments</h3>
  <%= render @post.comments %>
  <h4>Add a Comment</h4>
  <%= render 'comments/form' %>
</div>
