<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>


    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li> <%= link_to "Home", root_path %> </li>
        <li> | </li>
        <li> <%= link_to "About" %> </li>
        <li> | </li>
        <li><%= link_to "Login" %></li>
        <li><%= link_to "Logout" %></li>
      </ul>
    </nav>
    <h1>Nicole's Recipes</h1>
    <% flash.each do |name, message|%>
      <%= content_tag(:div, message, class: 'alert') %>
    <% end %>
    <button><%= link_to "New Post", new_post_path %></button>
    <%= yield %>
  </body>
</html>
